@model Examen.Models.INT_Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INT_Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ventNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventFamilia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventFamilia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
